.week-container {
  height: 70px;
  display: flex;
}

.weekday-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.week-marker {
  width: 30px;
  line-height: 72px;
  text-align: center;
  border-right: 1px solid lightblue;
}

.week-container .exercise-link {
  background-color: lightblue;
  color: black;
  text-decoration: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 50px;
}

.state-description:first-child{
  margin-left: 250px;
}

.state-description{
  margin-top: 30px;
  color: red;
  display: flex;
  margin-right: 30%;
}

.state-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.week-container .exercise-link-completed {
  background-color: green; 
}

.week-container .exercise-link-progress {
  background-color: lightgrey; 
}