.week-component-container {
  display: flex;
  flex-direction: column;
}

.description-week-day {
  height: 26px;
  align-self: center;
  padding: 10px;
  letter-spacing: 1.19px;
  font-family: "San Francisco";
}

.pause-start-button {
  width: 159px;
  height: 52px;
  border-radius: 25px;
  border: solid 6px rgb(233, 225, 247);
  background-color:  rgb(156, 115, 219);
  cursor: pointer;
  color: white;
  align-self: center;
  margin-top: 10px;
}

.reset-button {
  width: 159px;
  height: 52px;
  border-radius: 25px;
  border: solid 6px  rgb(192, 164, 233);
  background-color: rgb(233, 225, 247);
  cursor: pointer;
  color: black;
  align-self: center;
  margin-top: 10px;
}

.counting-seconds{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 3px 3px 3px 3px;
}

.container {
  display: flex;
  height: 170px;
}

.counting-seconds-container {
display: flex;
border: 1px solid rgb(245, 247, 255);
flex-direction: column;
flex-grow: 0.4;
background-color: rgb(245, 247, 255);
border-radius: 0px 77px 0px 0px;
}

.seconds {
  padding: 3px 3px 3px 3px;
}

.state-action {
  flex-grow: 0.5;
  text-align: center;
  padding: 46px 0px 0px 0px;
  border: 1px solid rgb(255, 178, 178);
  background-color: rgb(255, 178, 178);
  border-radius: 32px 0px 0px 0px;
}

.show-human-exercises{
padding: 8px;
font-size: 15px;
font-family: sans-serif;
word-break: break-word;
padding: 1px 20px 13px 19px;
}

.back-to-home{
  padding: 8px;
}