.exercise-slider-item:nth-child(odd) {
    background: 	#672B9A;
}

.exercise-slider-item:nth-child(even) {
    background: #9414FF;
}

.exercise-slider-item:first-child {
    background: #C089C8;
}

.exercise-slider-item {
    display: inline-block;
    font-size: 0;
    height: 20px;
    margin-top: 20px;
} 

.exercise-slider {
    position: relative;
}

.exercise-marker {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #b88dc4;
    border-radius: 50%;
    top: 12.5px;
    margin-left: -17.5px;
}
